@font-face {
  font-family: neu;
  font-weight: 300;
  src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 100;
  src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 200;
  src: url(./NeueHaasDisplayRoman.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neu;
  
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: #efeae3 !important;
  
}
#logo{
  height: 5vw;
  width:10vw
}
@media (max-width:768px) {
  #logo{
    height: 20vw;
    width: 30vw;
  }
  
}

#intro {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  position: fixed;
  z-index: 200;
}

#intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7vw;
  font-weight: 100;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}

.page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  display: flex;
align-items: center;
  justify-content: center;

}

.page3 {
  height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
}



.page3-container{
  height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}



.page3-inside {
    
  height: 100vh;
  width: 100vw;
  background-color: #efeae3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10vh;
}



.elem {

  width: 100%;
  position: relative;
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.elem h2 {
  font-size: 3vw;
  font-weight: 100;
  text-transform: uppercase;
  z-index: 20;

}

.elem:hover h2 {
font-style: italic;
}

.elem .moving {
  width: 100vw;
  background-color: orangered;
  display: inline-block;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%) scaleY(0);
  transition: all 0.5s ease;
  /* opacity: 0; */

}

.elem:hover .moving{
    transform: translate(0,-50%) scaleY(1);
}

.elem .moving .moving-in {
 
  display: inline-block;

  white-space: nowrap;
  animation-name: moving;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
  
}
.elem .moving .moving-in h5 {
  color: rgb(37, 31, 31);
  font-size: 1vw;
  display: inline-block;
  margin-right: 60px;
  font-weight: 100;
}

@keyframes moving {

   from{
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
  
    
}

nav {
  padding: 2vw 3vw;

  width: 100%;
  display: flex;

  align-self: center;

  justify-content: space-between;
}
nav img {
  width: 10%;
}

.nav-2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.nav-2 h4 {
  padding: 0.5vw 1vw;
  border: 1px solid rgba(0, 0, 0, 0.851);
  border-radius: 50px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.765);
  position: relative;
  font-size: 1vw;
  overflow: hidden;
}
.nav-2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(37, 29, 29);
  left: -100%;
  border-radius: 50%;
  transition: all ease 0.5s;
}

.nav-2 h4:hover::after {
  bottom: 0;
  left: 0;
  border-radius: 0;
}

.nav-2 h4 a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.765);
  z-index: 9;
  position: relative;
}

.nav-2 h4:hover a {
  color: white;
}

.center {
  height: 55vh;
  width: 100%;
  /* background-color: rgb(234, 223, 200); */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
}

.left {
  display: flex;
  flex-direction: column;
}
.left img {
  height: 30vw;
  border: 20px solid #efeae3;

  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  box-shadow: 30px 25px 30px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}
.left img:hover {
  box-shadow: 30px 25px 30px 10px rgba(0, 0, 0, 0.2);
}

.right {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.right h1 {
  position: relative;

  width: 25vw;
  font-size: 6.5vw;
  line-height: 5vw;
}

.right h3 {
  position: relative;

  font-size: 1.5vw;
  font-weight: 300;
  line-height: 5vw;
  z-index: 100;
}
#shadow-name {
  position: relative;
  display: flex;
  width: 1vw;
}
.shad-1 {
  position: relative;
  z-index: 8;
}
.shad-2 {
  position: relative;
  z-index: 3;
}

.shad-3 {
  position: relative;
  z-index: 8;
  position: relative;
  left: 4vw;
}

.bouncy-bob {
  position: absolute;
  height: 30vw;
  width: 30vw;
  background-color: orangered;
  border-radius: 50%;
  right: 10svw;
  top: 35vh;
  filter: blur(30px);
  animation-name: animate-2;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 4;
}
.bouncy-bob-1 {
  position: absolute;
  height: 30vw;
  width: 30vw;
  background-color: rgb(255, 123, 0);
  border-radius: 50%;
  right: 10vw;
  top: 35vh;
  filter: blur(20px);
  animation-name: animate-1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  z-index: 3;
}

.bouncy-bob-mid {
  position: absolute;
  
  height: 30vw;
  width: 30vw;
  background-color: orangered;
  border-radius: 50%;
  right: 65vw;
  top: 20vh;
  filter: blur(20px);
  animation-name: animate-2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes animate-1 {
  from {
    transform: translate(0%, -12%);
  }
  to {
    transform: translate(5%, 3%);
  }
}

@keyframes animate-2 {
  from {
    transform: translate(0%, -5%);
  }
  to {
    transform: translate(5%, 10%);
  }
}
.aboutme h2 {
  position: relative;
  width: 35vw;
  font-size: 6vw;
  line-height: 10vh;
  font-weight: 100;
}

.aboutme h3 {
  position: relative;
  padding: 3vh 0;

  width: 40vw;
  font-size: 1.4vw;
  line-height: 2.5vw;
  z-index: 10;
  font-weight: 100;
}


.container-info {
  display: flex;

  height: 80%;
  /* width: 70%; */

  /* background-color: yellow; */

  justify-content: center;
  align-items: center;
  gap: 8vw;
  flex-wrap: wrap;

}
.insidecontainer{
  flex-shrink: 0;
  height: 20vw;
  width: 40vw;
  background-color: orangered;
  border-radius: 20px;
 
  border: 2px solid black;
  box-shadow: 10px 20px 0px black;
  padding: 2vw;
  font-size: 0.8vw;
 
}

.insidecontainer-3{
  flex-shrink: 0;
  height:25vw;
  width: 40vw;
  background-color: rgba(255, 68, 0, 0.2);
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 10px 20px 0px black;
  padding: 2vw;
  font-size: 0.8vw;   
}


.colordiv{
  /* background-color: #9ae975; */
  background-color: rgba(0, 0, 0, 0.405);
  padding: 0.5vw 1.5vw;
  border-radius: 10px;
  color: beige;
  
}


.insidediv{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1vw;
}
.insidediv span{
  /* font-style: italic; */
  font-weight: 200;
}


.container-info:hover {
  animation-name: animate-4;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}



@media (max-width:768px) {
  .insidecontainer{
    height: 80vw;
    width: 90vw;
  

  padding: 5vw;
  font-size: 2.5vw;
  
  }
  .insidediv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 4vw;
    padding: 1.5vw 1.5vw;
  }
  .insidecontainer-3{
    height: 90vw;
    width: 90vw;
  

  padding: 5vw;
  font-size: 2.5vw;
  }
  .left img{
    height: 30vh;
    width: 50vw;
    object-fit: cover;
  }
  .bouncy-bob{
    right: -3vw;
    top: 80vw;
  }
  .bouncy-bob-1{
    right: -3vw;
    top: 80vw;
  }
  

  
}

